html {
    height: 100%;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom right,#E36DAE, #E37C6D, #CC6C71);
}

h1 {
    font-size: 4.375rem;
    color: white;
}

h2 {
    margin: 0;
}

main {
    margin-bottom: 1.50rem;
}

table {
    border-collapse: collapse;
}

#calculator-container {
    display: inline-block;
    background-color: white;
}

#text-area, #footer, #last-total, h1 {
    font-family: 'Concert One', cursive;
    display: block;
}

#last-total, #text-area-container {
    width: 390px;
}

#last-total {
    height: 19px;
    color: dimgray;
    text-align: right;
    padding-right: 20px;
}

#text-area-container {
    height: 57px;
    overflow: hidden;
}

#text-area {
    font-size: 3rem;
    float: right;
    display: inline;
}

.calculatorButtons {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 1.50rem;
    border: 1px solid rgba(196, 190, 190, 0.200);
    background: rgb(255 229 229 / 18%);
    width: 80px;
    height: 80px;
}

.operator {
    color: black;
    /* background-image: linear-gradient(#e6b6d0, #e9b0a9, #ecb2b4); */
    background-color: rgb(251, 234, 234);
}

.equal {
    background-color: rgb(253, 216, 216);
}

#footer {
    font-size: 1.25rem;
    color: white;
}

.close-parenthesis {
    color: rgb(204, 204, 204);
}

@media (max-width: 570px) {
    #calculator-container {
        width: 100;
    }

    main {
        margin-bottom: 6rem;
    }
    
}

@media (max-width: 360px) {
    #text-area-container {
        width: 79%;
    }
}