html {
    height: 100%;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom right,#E36DAE, #E37C6D, #CC6C71);
}

h2 {
    font-size: 4.375rem;
    color: white;
}

#calculator-container {
    display: inline-block;
    background-color: white;
    width: 320px;
    height: 372px;
}

#text-area, #footer, h2 {
    font-family: 'Concert One', cursive;
    display: block;
}

#text-area {
    font-size: 4rem;
    text-align: right;
    margin-right: 20px;
}

.calculatorButtons {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 1.50rem;
    background: rgb(255 229 229 / 18%);
    border: 1px solid rgba(196, 190, 190, 0.200);
    width: 80px;
    height: 74px;
}

.operator {
    color: white;
    background-image: linear-gradient(#e6b6d0, #e9b0a9, #ecb2b4);
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

#footer {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    color: white;
}

@media (max-width: 570px) {

    #footer {
        margin-top: 3rem;
    }

}