html {
    height: 100%;
}

body {
    text-align: center;
    background-image: linear-gradient(to bottom right,#E36DAE, #E37C6D, #CC6C71);
}

h2 {
    font-size: 4.375rem;
    color: white;
}

#calculator-container {
    display: inline-block;
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 5%;
}

#text-area, #footer, h2 {
    font-family: 'Lilita One', cursive;
    display: block;
}

#text-area {
    font-size: 4rem;
}

#footer {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    color: white;
}

@media (max-width: 570px) {

    #calculator-container {
        width: 100%;
    }
    
    #footer {
        margin-top: 3rem;
    }
}